<style>


.freezeTable {
  width: 600px;
  height: 400px;
  overflow: scroll;
  border: 1px solid #777777;
}

.freezeTable table {
  border-spacing: 0;
}

.freezeTable th {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  padding: 5px;
  opacity: 1;
  z-index: 999;
  xwidth: 80px;
  xmin-width: 80px;
  position: sticky;
  top: 0;
  xbackground: lightgray;
  color: black;
  font-weight: bold;
}

.freezeTable td {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 5px;
  xwidth: 80px;
  xmin-width: 80px;
}

.freezeTable th:nth-child(1),
.freezeTable td:nth-child(1) {
  position: sticky;
  left: 0;
  xwidth: 150px;
  xmin-width: 150px;
}


.freezeTable td:nth-child(1){
  background: #ffebb5;
  opacity: 1;
  font-weight: bold;
  z-index: 999;
}


.freezeTable th:nth-child(1) {
  font-weight: bold;
  opacity:1;
  z-index: 999;
}


</style>
