<style>


.freezeTable {
  xwidth: 600px;
  xheight: 400px;
  overflow: scroll;
  border: 1px solid #777777;
}

.freezeTable table {
  border-spacing: 0;
}

.freezeTable th {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  padding: 5px;
  xwidth: 80px;
  xmin-width: 80px;
  position: sticky;
  top: 0;
  background: lightgray;
  color: black;
  font-weight: bold;
}

.freezeTable td {
  border-left: none;
  border-right: 1px solid #bbbbbb;
  border-bottom: 1px solid #bbbbbb;
  padding: 5px;
  xwidth: 80px;
  xmin-width: 80px;
}

.freezeTable th:nth-child(1),
.freezeTable td:nth-child(1) {
  position: sticky;
  left: 0;
  xwidth: 150px;
  xmin-width: 150px;
}

.xfreezeTable th:nth-child(2),
.xfreezeTable td:nth-child(2) {
  position: sticky;
  /* 1st cell left/right padding + 1st cell width + 1st cell left/right border width */
  /* 0 + 5 + 150 + 5 + 1 */
  left: 161px;
  xwidth: 50px;
  xmin-width: 50px;
}

.freezeTable td:nth-child(1){
  background: #ffebb5;
}
.xfreezeTable td:nth-child(2) {
  background: #ffebb5;
}

.freezeTable th:nth-child(1) {
  z-index: 2;
}
.xfreezeTable th:nth-child(2) {
  z-index: 2;
}


</style>
